*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}

html{
      background-color:#FA8128;
  font-family: Arial;
  line-height: 50px;
  color: white;
}

h1{
  color: white;
  text-align: center;
}

h3{
  padding-top: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

body, p{
  text-align: center;
}

form{
  text-align: center;
  background-color: #BC544B ;
  width: 50%;

}

input{
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
  
